/* Fond noir semi-transparent derrière la popup */
.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.popup-backdrop.show-backdrop {
  display: block;
  opacity: 1;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e0f7fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.popup.show-popup {
  display: block;
  opacity: 1;
}

.popup-header {
  display: flex;
  justify-content: center; /* Aligne les images horizontalement */
  gap: 10px; /* Espacement entre les images */
  margin-bottom: 10px; /* Marge entre les images et le titre */
}

.popup-image {
  width: 75px; /* Ajuster la taille des images */
  height: 75px;
  object-fit: contain;
}

h2 {
  text-align: center; /* Centrer le titre */
  font-size: 1.5rem;
  margin: 10px 0;
}

button {
  display: block;
  width: 100px;
  padding: 10px;
  margin: 20px auto 0; /* Centrer le bouton et ajouter de l'espace au-dessus */
  background-color: #5FC2BA;
  color: #e0f7fa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4da19a;
}
