<div class="memory-game">
    <div
      *ngFor="let card of cards"
      class="card"
      [class.flipped]="card.isFlipped || card.isMatched"
      (click)="onCardClick(card)"
    >
      <div class="card-inner">
        <div class="card-front">
          <!-- Affiche le dos de la carte -->
          ❓
        </div>
        <div class="card-back">
          <!-- Affiche la valeur de la carte -->
          {{ card.value }}
        </div>
      </div>
    </div>
    <button (click)="openPopUp('test1.json')">Reset</button>
  </div>

  <popup [content]="jsonContent"></popup>