<p>Règles du Jeu : Memory des Connexions

    Dans ce jeu de mémoire unique, les joueurs explorent des parallèles fascinants entre le corps humain et l'océan. L'objectif est de retrouver et de connecter les paires correspondantes : une carte représentant une partie ou un système du corps humain avec une carte décrivant un élément de l'océan.
    But du Jeu :
    
    Associer toutes les cartes en trouvant les paires liées, en s'appuyant sur des indices visuels et conceptuels.

    Chaque paire partage une bordure colorée spécifique pour faciliter la reconnaissance.
    Logos spéciaux sont présents sur chaque carte pour aider les joueurs daltoniens à identifier les paires.

    Les joueurs retournent deux cartes par tour.

    Trois Modes de jeux 
    
    un mode solo, où l'assemblage d'une paire affiche une pop-up décrivant la relation

    un mode 1 contre 1 , pour de la compétitivité

    un mode d'affrontement contre une IA essayant de mémoriser les emplacements de chaque carte</p>
