
<div>
<h1>Règles du Jeu : Memory des Connexions</h1>
<p>Dans ce jeu de mémoire unique, les joueurs explorent des parallèles fascinants entre le corps humain et l'océan. L'objectif est de retrouver et de connecter les paires correspondantes : une carte représentant une partie ou un système du corps humain avec une carte décrivant un élément de l'océan.
</p>
<h2>But du Jeu :</h2>
<p>Associer toutes les cartes en trouvant les paires liées, en s'appuyant sur des indices visuels et conceptuels.

    Chaque paire partage une bordure colorée spécifique pour faciliter la reconnaissance.
    Logos spéciaux sont présents sur chaque carte pour aider les joueurs daltoniens à identifier les paires.

    Les joueurs retournent deux cartes par tour.</p>
<h2>Trois Modes de jeux </h2>
    
    <ul>
        <li>un mode solo, où l'assemblage d'une paire affiche une pop-up décrivant la relation</li>
        <li>un mode 1 contre 1 , pour de la compétitivité</li>
        <li>un mode d'affrontement contre une IA essayant de mémoriser les emplacements de chaque carte</li>
    </ul>
    <button routerLink="/">Retour</button>
</div>