<app-card-playable [backgroundType]="1" variant="a" [isFaceUp]="true"></app-card-playable>
<app-card-playable [backgroundType]="2" variant="a" [isFaceUp]="true"></app-card-playable>
<app-card-playable [backgroundType]="3" variant="a" [isFaceUp]="true"></app-card-playable>
<app-card-playable [backgroundType]="4" variant="a" [isFaceUp]="true"></app-card-playable>
<app-card-playable [backgroundType]="5" variant="a" [isFaceUp]="true"></app-card-playable>
<app-card-playable [backgroundType]="6" variant="a" [isFaceUp]="true"></app-card-playable>
<app-card-playable [backgroundType]="7" variant="a" [isFaceUp]="true"></app-card-playable>
<app-card-playable [backgroundType]="8" variant="a" [isFaceUp]="true"></app-card-playable>

<app-card-playable [backgroundType]="1" variant="a" [isFaceUp]="false"></app-card-playable>

